<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="o-content u-text-align-center">
    <div class="o-content ">
      <img width="300" alt="Angular Logo"
           src="assets/img/logo/css4.png">
    </div>
    <h1 class="b-heading-1">CSS4</h1>
    <h1 class="b-heading-1">Novedades de la versión que nunca llegará</h1>
  </div>


  <div class="row o-content">
    <div class="col">
      <form>
        <label class="b-checkbox" for="check">Checkbox
          <input class="b-checkbox__check" name="checks" checked id="check" type="checkbox" value="1">
          <span class="b-checkbox__check-visible"></span>
        </label>
        <label class="b-checkbox" for="check1">Checkbox
          <input class="b-checkbox__check" name="checks" id="check1" type="checkbox" value="1">
          <span class="b-checkbox__check-visible"></span>
        </label>
        <label class="b-checkbox" for="check2">Checkbox
          <input class="b-checkbox__check" name="checks" id="check2" type="checkbox" value="1">
          <span class="b-checkbox__check-visible"></span>
        </label>
      </form>
    </div>
  </div>


  <div class="row o-content">
    <div class="col">
      <app-button>Button</app-button>
    </div>
  </div>


  <div class="row o-content">
    <div class="col">
      <app-list [list]="list"></app-list>
    </div>
  </div>


  <div class="row o-content">
    <div class="col">
      <app-card [title]="'Title'" [text]="text"></app-card>
    </div>
  </div>

  <app-gallery [gallery]="gallery"></app-gallery>
</div>

<router-outlet></router-outlet>
