.b-button {
  --b-button--padding : 10px;
  padding             : var(--b-button--padding);
  color               : var(--r-color-white);
  background-color    : var(--r-color-primary);
  border              : 0;
  cursor              : pointer;
}
